{% for label, messages in app.flashes %}
    <div class="p-4 mb-4 rounded-lg border
        {{ label == 'success' ? 'bg-green-50 border-green-200' :
    (label == 'error' ? 'bg-red-50 border-red-200' : 'bg-blue-50 border-blue-200') }}">
        <div class="flex items-center">
            <div class="text-{{ label == 'success' ? 'green' : (label == 'error' ? 'red' : 'blue') }}-600">
                {% if label == 'success' %}
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                    </svg>
                {% elseif label == 'error' %}
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                {% elseif label == 'info' %}
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 20v-8m0-4v-2m0 6h.01" />
                    </svg>
                {% endif %}
            </div>
            <div class="ml-3">
                <p class="text-sm font-medium text-{{ label == 'success' ? 'green' : (label == 'error' ? 'red' : 'blue') }}-800">{{ messages|join('<br>')|raw }}</p>
            </div>
        </div>
    </div>
{% endfor %}